
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('https://www.askideas.com/media/07/Hello-Butterflies-Animated-Picture.gif') center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-color: rgba(8, 85, 163, 0.6); /* Adjust the alpha channel for transparency */
}

/* Sticky footer styles */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(8, 85, 163); /* Change the background color as needed */
    z-index: 2;
}