{% extends "auth_base.html" %}

{% block title %}Password Reset Done - Cosmetology Tutoring{% endblock %}

{% block content %}
    <div class="card bg-secondary text-white">
        <div class="card-body">
            <h2 class="card-title">Password Reset Done</h2>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <p>An email with instructions for resetting your password has been sent to your email address.</p>
        </div>
    </div>
{% endblock %}
