{% extends "auth_base.html" %}

{% block title %}Password Reset Confirm - Cosmetology Tutoring{% endblock %}

{% block content %}
    <div class="card bg-primary text-white">
        <div class="card-body">
            <h2 class="card-title">Password Reset Confirm</h2>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Confirm Password Reset</button>
            </form>
        </div>
    </div>
{% endblock %}
