{% extends "auth_base.html" %}

{% block title %}Change Password - Cosmetology Tutoring{% endblock %}

{% block content %}
    <div class="card bg-warning text-white">
        <div class="card-body">
            <h2 class="card-title">Change Password</h2>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-warning">Change Password</button>
            </form>
        </div>
    </div>
{% endblock %}
