{% extends "base.html" %}

{% block title %}{{ category.name }}{% endblock %}

{% comment %} {% block content %}
  <div class="container my-4">
    <div class="row">
      <div class="col-md-8">
        <h1 class="display-4">{{ category.name }} 📋</h1>
        <div class="ckeditor-content mt-3">
          {{ category.description|safe }} 📝
        </div>
      </div>
      <div class="col-md-4">
        <a href="{% url 'video-category-delete' category.pk %}" class="btn btn-danger btn-sm">Delete Category</a> 🗑️
      </div>
    </div>
  </div>
{% endblock %} {% endcomment %}

{% block content %}
  <div class="container mt-4">
    <h1 class="display-4">{{ category.name }} 📺</h1>
    <div class="mt-3">
      {{ category.description|safe }} 📝
    </div>
  </div>
  <div class="container mt-3">
    <a href="{% url 'category-update' category.pk %}" class="btn btn-primary btn-sm">Update Category</a> 📝
    <a href="{% url 'category-delete' category.pk %}" class="btn btn-danger btn-sm">Delete Category</a> 🗑️
  </div>
{% endblock %}
