{% extends "base.html" %}

{% block title %}{{ quiz_instructor.instructor.name }}'s Association with Quiz{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h1 class="display-4">{{ quiz_instructor.instructor.name }}'s Association with Quiz 👩‍🏫</h1>
    <ul class="list-group">
      <li class="list-group-item">
        <strong>Instructor:</strong> {{ quiz_instructor.instructor.name }} 📋
      </li>
      <li class="list-group-item">
        <strong>Quiz:</strong> {{ quiz_instructor.quiz.title }} 📚
      </li>
    </ul>
    <div class="mt-3">
      <a href="{% url 'quiz-instructor-update' quiz_instructor.pk %}" class="btn btn-primary">Update</a>
      <a href="{% url 'quiz-instructor-delete' quiz_instructor.pk %}" class="btn btn-danger">Delete</a>
    </div>
  </div>
{% endblock %}
