{% extends "base.html" %}

{% block title %}List of Instructor-Quiz Associations{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h1 class="display-4">List of Instructor-Quiz Associations 👩‍🏫</h1>
    <ul class="list-group">
      {% for quiz_instructor in quiz_instructors %}
        <li class="list-group-item">
          <a href="{% url 'quiz-instructor-detail' quiz_instructor.pk %}">
            {{ quiz_instructor.instructor.name }} - {{ quiz_instructor.quiz.title }} 📋
          </a>
        </li>
      {% empty %}
        <li class="list-group-item">No Instructor-Quiz Associations available. 😞</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
