{% extends "base.html" %}

{% block title %}
    {% if category.id %}
        Update Category 📚
    {% else %}
        Create Category 📚
    {% endif %}
{% endblock %}

{% block content %}
<div class="container my-4">
    <h1 class="display-4">
        {% if category.id %}
            Update Category 📚
        {% else %}
            Create Category 📚
        {% endif %}
    </h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save 🚀</button>
    </form>
</div>
{% endblock %}
