{% extends "base.html" %}

{% block title %}Category List 📚{% endblock %}

{% block content %}
<div class="container my-4">
    <h1 class="display-4">Category List 📚</h1>
    <ul class="list-group">
        {% for category in categories %}
            <li class="list-group-item">
                <a href="{% url 'category-detail' category.pk %}">{{ category.name }} 📖</a>
            </li>
        {% empty %}
            <li class="list-group-item">No categories available. 😞</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
